main {
  min-height: 80vh;
}

.logo {
  display: flex;
  align-content: center;
  align-items: center;
  /* color: #07e5ca !important; */
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem !important;
  padding: 0.5rem 0;
}

h3 {
  padding: 1rem 0;
}

.rating span {
  margin: 0.1 rem;
}
